* {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;

  background-image: url('../assets/hero-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}